<mat-toolbar color="accent">
  <span>Application Title</span>

  <span class="fill-remaining-space"></span>

  <span>Right Aligned Text</span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
</mat-toolbar>

<router-outlet></router-outlet>